
	html{
		width: 100%;
		background-color: rgb(57,35,80);
	}

	body {
		-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
		-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
		-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
		font-family: 'Montserrat', sans-serif !important;
		font-size:12px;
		background: url("https://i.imgur.com/w1aCOPC.png");
		background-attachment: fixed;
		background-size: cover;
		margin:0px;
		padding:0px;
		width:100%;
		height: 100%;
	}

	#logo-div{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		box-sizing: border-box;
	}

	#login-div{
		background-color: rgba(0,0,20,0.4);
		padding: 16px;
		width: 100%;
		box-sizing: border-box;
	}

	.general-input, #fullname-div{
		color: white;
		height: 46px;
		border-radius: 48px;
		border: none;
		background-color: RGBA(219, 74, 135, 0.4);
		font-size: 15px;
		font-weight: bolder;
		letter-spacing: 1px;
		background-repeat:no-repeat;
		background-position-x: 16px;
		background-position-y: 6px;
		text-align: left;
		padding-left: 60px !important;
	}

	.general-input:focus {
		transition: 0.25s;
		box-shadow: none;
		border: none;
		border-radius: 0px;
		border-left: 6px solid white;
		border-right: 6px solid white;
		outline: 0;
		padding-left: 54px !important;
	} 

	.general-input::placeholder {
		opacity: 1;
		color: rgb(170, 156, 200) !important;
		letter-spacing: 1px;
	} 

	#email-input{
		/*background-image: url('login-input.png');*/
	}

	#password-input{
		/*background-image: url('password-input.png');*/
	}
	
	button{
		outline: none !important;
	}

	.general-button{
		font-size: 0.9em;
		font-weight: bolder;
		color: white;
		height: 50px;
		border-radius: 52px;
		background: RGBA(230, 114, 163, 0);
		border: 2px solid white;
		letter-spacing: 1px;
	}

	#create-remember-div{
		height: 24px;
	}

	#create-remember-div a{
		color: white;
		font-size: 0.9em;
	}

	/* create-account.html */

	#create-account-div{
		background-color: rgba(0,0,20,0.4);
		padding: 16px;
		width: 100%;
		box-sizing: border-box;
	}

	.title-label{
		font-size: 16px;
		font-weight: bolder;
		color: white;
		margin-bottom: 8px;
		display: block;
	}

	.subtitle-label{
		font-size: 11px;
		font-weight: bolder;
		color: white;
		display: block;
	}

	.socials-button{
		color: white;
		height: 52px;
		width: 52px;
		border-radius: 60px;
		background: #fff0;
		border: 2px solid white;
		display: inline;
		margin-left: 6px !important;
		margin-right: 6px !important;
		padding: 0px;
		font-size: 1.6em;
		line-height: 0px;
	}

	#btn-facebook-2{
		background-color: #6570c1;
	}

	#btn-twitter-2{
		background-color: #71abdb;
	}

	#btn-google-2{
		background-color: #db7171;
	}
	
	/* esqueci-senha.html */
	
	#esqueci-senha{
		background-color: rgba(0,0,20,0.4);
		padding: 16px;
		width: 100%;
		box-sizing: border-box;
	}
	
	
	
	
	/* create-profile.html */
	
	.fix-bg{
		height: auto !important;
	}
	
	#create-profile-div{
		background-color: rgba(0,0,20,0.4);
		padding: 16px;
		width: 100%;
		box-sizing: border-box;
	}
	
	#main-pic-div{
		width: 128px;
		height: 128px;
		border: 2px solid white;
		border-radius: 320px;
		background-size: cover;
		background-image: url('user-profile.png');
		margin: 16px;
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0;
	}
	
	#sec-pics-div{
		height: 100px;
		padding: 0;
	}
	
	#sec-pic-div{
		width: 99px;
		height: 99px;
		background-size: cover;
		background-image: url('user-profile.png');
		margin: 7px;
		float: left;
		border: 2px solid white;
	}
	
	#send-main-pic{
		width: 100%;
		height: 100%;
	}
	
	.general-input-pic{
		width: 100%;
		height: 100%;
		font-size: 12px;
		font-weight: 800;
		color: #9c7ee1;
	}
	
	.general-textarea{
		padding: 8px;
		background-color: transparent;
		border: 2px solid white;
		border-radius: 0;
		font-weight: bolder;
		color: white;
	}
	
	.general-textarea::placeholder{
		opacity: 1;
		color: rgb(170, 156, 200) !important;
		letter-spacing: 1px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	/* main-view.html */

	#primary-img{
		height: 128px;
		width: 128px;
		background-color: white;
		border-radius: 180px;
		background-size: cover;
		border: 2px solid white;
	}

	#text-view{
		font-size: 0.9em;
		color: rgba(32, 2, 102, 0.6);
		display: block;
		margin: 10px;
	}

	#fullname-div{
		text-align: center;
		padding: 0px;
		background-color: white;
		display: none;
	}





	#main-div{
		background-color: rgba(0,0,20,0.4);
		width: 100%;
		height: 100% !important;
		box-sizing: border-box;
		margin-top: 58px;
	}

	#menu-top-div{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		display: none;
	}

	#events-div{
		width: 100%;
	}

	.users-t{
		color: black;
		background-color: white;
		height: 78px;
		padding: 8px;
		overflow: hidden;
		text-align: left;
		margin: 16px;
		border-radius: 60px;
		margin-bottom: 8px;
		margin-top: 8px;
		padding-left: 26px;
		display: none;
	}
	
	.profile-img-div{
		background-color: gray;
		display: inline-block;
		width: 70px;
		height: 68px;
		border-radius: 70px;
		left: -20px;
		position: relative;
		top: -3px;
		float: left;
	}
	
	.profile-info-div{
		font-size: 0.9em;
	}

	#menu-bottom-div{
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 64px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(134, 19, 73, 0.82);
	}

	.btn-menu{
		width: 54px;
		height: 54px;
		font-size: 1.8em;
		background-color: rgba(0, 0, 0, 0.1);
		color: white;
		border: none;
		border-radius: 96px;
		padding: 0px;
		line-height: 0px;
		margin-left: 5.5% !important;
		margin-right: 5.5% !important;
		border: 2px solid white;
	}

	#btn-menu-1{
		position: absolute;
		border: none;
		background: none;
		margin: 0px !important;
		right: 0;
	}

	#menu-1{
		position: absolute;
		right: 0;
		background-color: white;
		top: 58px;
		border-left: 2px solid #5a46cd;
		border-bottom: 2px solid #5a46cd;
		display: none;
	}

	#menu-1 a{
		display: block;
		color: black;
		padding: 32px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	
	.nav-tabs {
        border-bottom: 0 !important;
	}