
	html{
		width: 100%;
		background-color: rgb(57,35,80);
		min-height: 100vh;
	}

	body {
		-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
		-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
		-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
		font-family: JosefinFont, sans-serif !important;
		/* font-size:12px; */
		background: linear-gradient(180deg, rgba(155,99,171,1) 0%, rgba(129,56,163,1) 17%, rgba(78,31,119,1) 36%, rgba(59,25,103,1) 54%, rgba(39,19,81,1) 80%);
		margin:0px;
		padding:0px;
		width:100%;
		min-height: 100vh;
		text-align: center !important;
	}

	@font-face {
		font-family: JosefinFont;
		src: url('JosefinSans-Regular.ttf');
		font-size: 18px;
		font-display: swap
	}

	@font-face {
		font-family: JosefinFont;
		src: url("JosefinSans-Bold.ttf");
		font-weight: bold;
		font-display: swap
	}

	textarea:focus, input:focus, select:focus {
		outline: 0;
	} 

	#logo-div{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		box-sizing: border-box;
		height: 60px;
	}

	#logo-div-login{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		box-sizing: border-box;
		min-height: 40vh;
	}

	#login-div{
		padding: 8px;
		width: 100%;
		box-sizing: border-box;
		min-height: 60vh;
	}

	.blue-hr{
		height: 1px;
		margin: 8px;
		padding: 0;
		background: linear-gradient(45deg, transparent, #584279, #584279, transparent);
	}

	.light-hr{
		height: 1px;
		margin: 6px;
		padding: 0;
		background-color: rgba(254, 255, 255, 0.25);
		background: linear-gradient(45deg, transparent, rgba(254, 255, 255, 0.25), rgba(254, 255, 255, 0.25), transparent);
	}

	.login-opt-button{
		background-color: white;
		font-weight: bolder;
		font-size: 12px;
		color: #4c376b;
		height: 40px;
		border: none;
		border-radius: 50px;
		padding-top: 6px;
	}

	#btn-social{
		opacity: 0.3;
	}

	#socials-div{
		display: none;
		opacity: 0;
	}

	.general-input, #fullname-div{
		transition: 0.25s;
		color: white;
		height: 52px;
		border: none;
		font-size: 13px;
		font-weight: bolder;
		letter-spacing: 1px;
		text-align: center;
		padding-top: 12px;
		background: rgba(255, 255, 255, 0.25);
    	border-radius: 40px;
	}

	.general-input:focus {
		transition: 0.25s;
		box-shadow: none;
		border: none;
		border-left: 4px solid white;
		border-right: 4px solid white;
		font-size: 16px;
		outline: 0;
		border-radius: 0px;
	} 

	.general-input::placeholder {
		opacity: 1;
		color: rgba(254, 255, 255, 0.2) !important;
		letter-spacing: 1px;
	}
	
	.general-input-white{
		color: rgb(92, 79, 121) !important;
		height: 42px;
		border-radius: 24px;
		border: none;
		background-color: white;
		font-size: 15px;
		font-weight: bolder;
		letter-spacing: 1px;
		text-align: left;
		padding-left: 30px !important;
	}

	.general-input-white:focus {
		transition: 0.25s;
		box-shadow: none;
	} 

	.general-input-white::placeholder {
		opacity: 1;
		color: rgb(170, 156, 200) !important;
		letter-spacing: 1px;
	} 
	
	button{
		outline: none !important;
	}

	.general-button{
		font-size: 0.9em;
		font-weight: bolder;
		color: white;
		height: 52px;
		border-radius: 52px;
		background: RGBA(230, 114, 163, 0);
		border: 2px solid white;
	}

	#create-remember-div{
		height: 24px;
	}

	#create-remember-div a{
		color: white;
		font-size: 0.9em;
	}

	/* create-account.html */

	#create-account-div{
		padding: 8px;
		width: 100%;
		box-sizing: border-box;
		height: 100%;
		padding-top: 16px;
	}

	.title-label{
		font-size: 16px;
		font-weight: bolder;
		color: white;
		margin-bottom: 8px;
		display: block;
	}

	.subtitle-label{
		font-size: 11px;
		font-weight: bolder;
		color: white;
		display: block;
	}

	.socials-button{
		color: white;
		height: 58px;
		width: 58px;
		border-radius: 60px;
		background: #fff0;
		border: 2px solid white;
		display: inline;
		margin-left: 6px !important;
		margin-right: 6px !important;
		padding: 0px;
		font-size: 1.6em;
		line-height: 0px;
	}

	#btn-facebook-2{
		background-color: #6570c1;
	}

	#btn-twitter-2{
		background-color: #71abdb;
	}

	#btn-google-2{
		background-color: #db7171;
	}
	
	/* esqueci-senha.html */
	
	#esqueci-senha{
		padding: 8px;
		width: 100%;
		box-sizing: border-box;
		min-height: 60vh;
	}
	
	
	
	
	/* create-profile.html */
	
	.fix-bg{
		height: auto !important;
	}
	
	#create-profile-div{
		background-color: rgba(0,0,20,0.4);
		padding: 16px;
		width: 100%;
		box-sizing: border-box;
	}
	
	#main-pic-div{
		width: 128px;
		height: 128px;
		border: 2px solid white;
		border-radius: 320px;
		background-size: cover;
		background-image: url('user-profile.png');
		margin: 16px;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#sec-pics-div{
		height: 100px;
		padding: 0;
	}
	
	.sec-pic-div{
		width: 95px;
		height: 95px;
		background-size: cover;
		background-image: url('user-profile.png');
		margin: 7px;
		float: left;
		border: 2px solid white;
	}
	
	#send-main-pic{
		width: 100%;
		height: 100%;
	}
	
	.general-input-pic{
		width: 100%;
		height: 100%;
		font-size: 12px;
		font-weight: 800;
		color: #9c7ee1;
	}
	
	.general-textarea{
		padding: 8px;
		background-color: transparent;
		border: 2px solid white;
		border-radius: 0;
		font-weight: bolder;
		color: white;
	}
	
	.general-textarea::placeholder{
		opacity: 1;
		color: rgb(170, 156, 200) !important;
		letter-spacing: 1px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	/* main-view.html */

	#primary-img{
		height: 128px;
		width: 128px;
		background-color: white;
		border-radius: 180px;
		background-size: cover;
		border: 2px solid white;
	}

	#text-view{
		font-size: 0.9em;
		color: rgba(32, 2, 102, 0.6);
		display: block;
		margin: 10px;
	}

	#fullname-div{
		text-align: center;
		padding: 0px;
		background-color: white;
		display: none;
	}





	#main-div{
		/*background-color: rgba(0,0,20,0.4);*/
		width: 100%;
		height: 100vh !important;
		box-sizing: border-box;
		/* margin-top: 58px; */
	}

	#main-body-div{
		min-height: 100%;
	}

	#menu-top-div{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		display: none;
	}

	#events-div{
		width: 100%;
	}

	.users-t, .users-t-chat{
		color: white;
		padding: 2px;
		overflow: hidden;
		text-align: left;
		padding-left: 24px;
		background-color: rgba(255, 255, 255, 0.25);
		border: 2px solid rgba(255, 255, 255, 0.25);
		margin: 4px;
		border-radius: 10px;
	}
	
	#profile-img-div{
		background-color: white;
		display: inline-block;
		width: 75px;
		height: 75px;
		border-radius: 100px;
		left: -18px;
		position: relative;
		float: left;
		background-size: cover;
		background-image: url('user-profile.png');
		background-repeat: no-repeat;
		background-position: center;
		box-shadow: 0px 0px 3px rgba(33, 35, 78, 0.6);
		z-index: 4;
	}

	.profile-info-div{
		position: relative;
    	left: -8px;
	}

	#menu-bottom-div {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 54px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(39, 19, 81, 0.75);
		z-index: 9;
		vertical-align: middle;
	}

	.btn-menu {
		width: 46px;
		height: 46px;
		font-size: 1.7em;
		background-color: rgba(0, 0, 0, 0.1);
		color: white;
		border-radius: 96px;
		padding: 0px;
		line-height: 0px;
		margin-left: 9px !important;
		margin-right: 9px !important;
		border: 2px solid white;
	}

	#btn-menu-1 {
		position: absolute;
		border: none;
		background: none;
		right: 0;
		font-size: 40px;
		text-shadow: 1px 2px 2px #5a487c;
		letter-spacing: 2px;
		color: #fdf6ff;
	}

	#menu-1{
		position: absolute;
		right: 0;
		background-color: white;
		top: 6px;
		display: none;
		box-shadow: 2px 2px 2px #411157;
	}

	#menu-1 a{
		display: block;
		color: black;
		padding: 24px;
		padding-bottom: 10px;
		padding-top: 10px;
		font-size: 15px;
		text-decoration: none;
		text-align: left;
		padding-right: 48px;
	}
	
	#main-pic-div-c{
		height: 100vh;
		background-size: cover;
		background-image: url('user-profile.png');
		background-repeat: no-repeat;
		background-position: center;
		opacity: 1;
	}
	
	#user-information-div{
		text-align: left;
		padding-top: 16px;
		position: absolute;
		z-index: 999;
	}
	
	#user-information-div label{
		margin: 6px;
		text-align: left;
		padding-bottom:4px;
		margin-bottom: 2px;
	}
	
	#menu-bottom-div .btn-menu{
		transition: 0.25s;
		opacity: 0.3;
	}
	
	#menu-bottom-div .btn-menu.active{
		transition: 0.5s;
		opacity: 1;
	}

	.nav-tabs {
        border-bottom: 0 !important;
	}

	#search-div{
		padding: 16px;
		padding-top: 24px;
	}

	.search-div{
		padding: 16px;
		padding-top: 24px;
		display: none;
	}

	.user-n-u-div{
		height: 148px;
		float: left;
		overflow: hidden;
		width: 110px;
	}

	#user-n-u-div-content{
		width: 98px;
		height: 98px;
		border: 2px solid white;
		border-radius: 320px;
		background-size: cover;
		background-image: url('user-profile.png');
		margin: auto;
		background-repeat: no-repeat;
		background-position: center;
	}

	.user-n-u-label{
		color: white;
		text-shadow: 2px 2px 2px black;
		margin: 0;
		height: 36px;
		font-size: 12px;
	}

	#city-district-n-u-label{
		color: white;
		text-shadow: 2px 2px 2px black;
		margin: 0;
		font-size: 12px;
		transform: translateY(-40px);
		padding-left: 12px;
		padding-right: 12px;
		background-color: rgba(62, 29, 85, 0.67);
		border-radius: 30px;
	}

	/* admin-page.html */

	#admin-page-div{
		background-color: rgba(0,0,20,0.4);
		width: 100%;
		box-sizing: border-box;
		height: 100% !important;
		padding-top: 48px;
	}

	#btn-menu-back{
		font-size: 20px;
		position: absolute;
		border: none;
		background: none;
		margin: 0px !important;
		width: 64px;
	}

	.title-label-top{
		font-size: 16px;
		font-weight: bolder;
		color: white;
		display: block;
		margin: 0;
	}

	#users-div{
		overflow: scroll;
	}

	.user-d-u-label{
		color: white;
		text-shadow: 2px 2px 2px black;
		margin: 0;
		font-size: 16px;
		display: inherit;
		line-height: 24px;
	}

	/* User conversation */

	#conversation-page-div{
		background-color: rgba(0,0,20,0.4);
		width: 100%;
		box-sizing: border-box;
		height: 100% !important;
		padding-top: 48px;
	}

	.user-t{
		color: white;
		padding: 6px;
		overflow: hidden;
		text-align: left;
		margin-top: 0px;
		margin-bottom: 0;
		padding-left: 40px;
		background-color: rgba(63, 51, 74, 0.29);
	}

	#send-message-button{
		background: none;
		border: none;
	}

	#message-send-input{
		border: none;
		border-bottom: 2px solid white;
		padding: 6px;
		margin-bottom: 2px;
		font-size: 14px;
	}

	#message-send-input::placeholder {
		opacity: 0.6;
		color: rgb(189, 179, 212) !important;
		letter-spacing: 1px;
	}

	.message-p{
		background-color: white;
		margin: 0;
		border-radius: 20px;
		padding: 6px;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	.chat-sub-p{
		font-size: 12px; 
		text-align: left;
		padding-left: 18px;
		margin-bottom: 4px;
		color: #ab4895;
	}

	.chat-msg-p{
		margin-bottom: 10px;
		text-align: left;
		padding-left: 18px;
		padding-right: 18px;
	}

	.chat-user-label{
		background-color: rgba(33, 35, 78, 0.6);
		margin-left: 20px;
    	width: 100%;
	}

	.chat-msg-label{
		max-height: 48px; 
		overflow: hidden; 
		margin-top: 2px;
	}

	.events-t{
		color: white;
		padding: 6px;
		overflow: hidden;
		text-align: left;
		margin-top: 0px;
		margin-bottom: 0;
		background-color: rgba(63, 51, 74, 0.29);
	}

	.chat-date-label{
		float: right;
		padding-right: 18px;
		font-size: 13px;
		color: #c5e1ff;
	}

	.event-user-label{
		background-color: rgba(33, 35, 78, 0.6);
		padding: 10px;
		padding-left: 20px;
		margin-bottom: 10px;
	}

	#user-e-u-div-content{
		width: 70px;
		height: 70px;
		border: 2px solid white;
		border-radius: 320px;
		background-size: cover;
		background-image: url('user-profile.png');
		margin: auto;
		background-repeat: no-repeat;
		background-position: center;
	}

	.user-e-u-div{
		height: 70px;
		float: left;
		width: 80px;
	}

	.event-subscribe-btn{
		float: right;
		border: none;
		font-size: 13px;
		background: rgb(173, 255, 146);
		font-weight: bolder;
	}

	.event-notsubscribe-btn{
		float: right;
		border: none;
		font-size: 13px;
		background: rgb(255, 146, 146);
		font-weight: bolder;
	}

	.event-seedetails-btn{
		float: right;
		border: none;
		font-size: 13px;
		background: rgb(163, 146, 255);
		font-weight: bolder;
		margin-right: 6px;
	}

	#subscribed-events-page-div{
		background-color: rgba(0,0,20,0.4);
		width: 100%;
		box-sizing: border-box;
		height: 100% !important;
		padding-top: 48px;
	}

	#menu-bottom-prof{
		position: fixed;
		bottom: 0;
		margin-bottom: 54px;
		background-color: rgba(39, 19, 81, 0.75);
	}

	#btn-prof-edit {
		background-color: white;
		font-weight: bolder;
		color: #4c376b;
		height: 42px;
		font-size: 12px;
		box-shadow: 0px 0px 1px rgba(33, 35, 78, 0.25);
		line-height: 40px;
	}

	#label-user-name, #label-user-age, #label-name-location{
		display: inline-block;
		background: white;
		color: #4c376b;
		padding: 16px;
		padding-top: 6px;
		border-radius: 20px;
		box-shadow: 0px 0px 1px rgba(33, 35, 78, 0.25);
	}

	#label-user-name{
		padding-top: 0;
		padding-bottom: 1px !important;
		box-shadow: none;
		padding-left: 4px !important;
		padding-right: 8px;
		background: none;
	}

	#name-label-user-info{
		display: inline-block;
		background: white;
		color: #4c376b;
		border-radius: 20px;
		box-shadow: 0px 0px 1px rgba(33, 35, 78, 0.25);
		margin-left: 6px;
		overflow: hidden;
	}

	#other-label-user-info{
		display: none;
	}

	#profile-div{
		height: 100vh;
		position: absolute;
		top: 0;
		width: 100vw;
	}

	#chat-div{
		position: absolute;
		top: 0;
		width: 100%;
		padding-right: 4px;
    	padding-left: 4px;
	}

	#chat-users-div{
		height: 100vh;
		overflow: scroll;
		padding-top: 48px;
	}

	.btns-prof{
		background: none;
		border: none;
		opacity: 0.7;
		transition: 1s;
	}

	.btns-prof:active{
		transition: 0.25s;
		opacity: 1;
	}

	#show-user-info{
		text-shadow: 2px 3px 1px #b7417f;
	}

	#btn-change-pic{
		text-shadow: 2px 3px 1px #9f41b7;
		position: relative;
		top: -3px;
	}

	#menu-bottom-home{
		position: fixed;
		bottom: 0;
		margin-bottom: 54px;
		background-color: rgba(39, 19, 81, 0.75);
		padding: 0;
	}

	.title-input-text{
		position: absolute;
		margin-left: 24px;
		color: #bab0d4;
		font-size: 12px;
		font-weight: bolder;
		margin-top: 2px;
	}

	#next-u-div{
		overflow: scroll;
	}

	/* INPUT RADIO EDIT */

	/* The container */
.radio-edit {
	display: inline-block;
	position: relative;
	padding-left: 60px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radio-edit input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
	position: absolute;
    left: 0;
    height: 35px;
    width: 35px;
	background-color: rgb(182, 182, 182);
	border-radius: 6px;
	opacity: 0.5;
	margin-top: 9px;
  }
  
  /* On mouse-over, add a grey background color */
  .radio-edit:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-edit input:checked ~ .checkmark {
	background-color:white;
	opacity: 1;
  }
  
  .swal2-icon{
	  zoom: 0.5;
  }

  .swal2-title{
	  font-size: 1.4em !important;
  }

  .swal2-content{
	  font-size: 0.9em !important;
  }

  .swal2-styled.swal2-confirm{
	  zoom: 0.75;
	  background-color: #dd57a8 !important;
  }